@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* PAGE 1: PERSONAL SIDE */
body {
    display: flex;
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: #F0ECE9;
    flex-direction: column;
    overflow-x: hidden;
}

/* SECTION 1: LOGO AND PAGE SWAP */
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.curved-text {
    opacity: 0;
}

@keyframes curved-text-slide-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(20%);
    }

}

.logo-container svg {
    position: absolute;
    top: -90px;
    left: -50px;
    z-index: 20;
    pointer-events: none;
}

.background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: #F0ECE9;
}

.logo-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 5;
}

.logo-1 {
width: 200px;
display: block;
cursor: pointer;
}

.logo-2 {
width: 200px;
display: none;
cursor: pointer;
}

@keyframes logo-slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes logo-slide-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.above-text {
width: 120%;
height: 85px;
}

#above-secrest {
position: relative;
left: -83px;
top: 210px;
z-index: 2;
background-color: #F0ECE9; 
}

#above-carson {
position: relative;
left: -160px;
top: 98px;
z-index: 4;
background-color: #F0ECE9; 
}

#above-science {
position: relative;
left: -120px;
top: 210px;
z-index: 2;
display: none;
background-color: #241C1C; 
}

#above-computer {
position: relative;
left: -195px;
top: 98px;
z-index: 4;
display: none;
background-color: #241C1C; 
}

.text-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: absolute;
top: 50%;
left: 50%;
transform: translate(50%, -50%);
}

.text {
position: relative;
margin: 0;
font-size: 60px;
}

#secrest {
left: -84px;
top: 130px;
z-index: 1;
}

#science {
left: -120px;
top: 130px;
z-index: 1;
}

#carson {
left: -160px;
top: 18px;
z-index: 3;
}

#computer {
left: -195px;
top: 18px;
z-index: 3;
}

.dark-text {
color: #4e3a3a;
}

.light-text {
color: #F0ECE9;
display: none;
}

@keyframes text-slide-up {
0% {
    transform: translateY(0);
}
100% {
    transform: translateY(-80px);
}
}

@keyframes text-slide-down {
0% {
    transform: translateY(-80px);
}
100% {
    transform: translateY(0);
}
}

#beige-div {
position: absolute;
height: 1000vh;
width: 100vw;
z-index: 999;
background-color: #d9bda3;
transform: translateX(-100vw);
}

#brown-div {
position: absolute;
height: 1000vh;
width: 100vw;
z-index: 998;
background-color: #846c5f;
transform: translateX(-100vw);
}

@keyframes div-slide-right {
0% {
    transform: translateX(-100vw);
}
100% {
    transform: translateX(0vw);
}
}

@keyframes div-slide-left {
0% {
    transform: translateX(0vw);
}
100% {
    transform: translateX(-100vw);
}
}

/* SECTION 2: PERSONAL DESCRIPTION */
.personal-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.upper-welcome-div {
    height: 30vh;
    width: 100%;
    background-color: #F0ECE9;
    z-index: -1;
}

.middle-welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blur-div {
    margin: 1vh;
    width: 220vh;
    height: 40vh;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WELCOME {
    color: white;
    font-size: 60px;
}

.lower-welcome-div {
    height: 30vh;
    width: 100%;
    background-color: #F0ECE9;
    z-index: -1;
}

.welcome-image {
    position: fixed;
    height: 220%;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction-screen {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: #F0ECE9;
}

.introduction-screen h2 {
    font-size: 70px;
    margin: 20px;
    color: #4e3a3a;
    text-align: center;
}

.introduction-text-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 600px;
    margin: 80px;
}

.introduction-text-box {
    background-color: #4e3a3a;
    font-size: 26px;
    margin: 20px;
    border-radius: 20px;
}

.introduction-text-box p {
    margin: 20px;
    color: #F0ECE9;
    filter: drop-shadow(0 0 0.1rem black);
}

.introduction-image {
    flex: 1;
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    border-radius: 20px;
    margin: 80px;
}

@media (max-width: 1100px) {
    .introduction-screen {
        flex-direction: column;
    }
    .introduction-text-box p {
        font-size: 14px;
    }
    .introduction-text-column {
        margin-bottom: 0px;
    }
}

/* SECTION 3: INTERESTS TYPEWRITER EFFECT WITH IMAGE CAROUSEL */
.interests-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #F0ECE9;
}

.interests-description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: #F0ECE9;
}

.interests-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F0ECE9;
    font-size: 30px;
}

.interests-title, .interests-items {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interests-title {
    justify-content: flex-end;
}

.interests-items {
    justify-content: flex-start;
}

.interests-items li {
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid black;
    animation: cursor-blink 1s step-end infinite;
    font-size: 30px;
}

/* .interests-note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F0ECE9;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
} */

@keyframes cursor-blink {
    from, to { border-right-color: black; }
    50% { border-right-color: transparent; }
}

/* PAGE 2: PROFESSIONAL SIDE */
.professional-page {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: #F0ECE9;
    display: none;
}

/* SECTION 1: EDUCATION */
.education-screen {
    background-color: #241C1C;
    display: flex;
    flex-direction: column;
}

.education-header {
    width: 100%;
    text-align: center;
    font-size: 50px;
    opacity: 0;
}

.education-header h2 {
    margin: 20px;
}

.achievement-unlocked {
    position: absolute;
    font-size: 30px;
    z-index: 40;
    top: 0;
    left: 0;
    right: 0;
}

.chart-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1300px) {
    .chart-container {
        flex-direction: row;
    }
    /* CHANGE ACHIEVEMENT SIZES */
}

.chart-div {
    flex: 1;
    position: relative;
    margin: 30px;
}

.chart text {
    fill: white;
    font-size: 18px;
}

.beaver-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vw;
    pointer-events: none;
}

@keyframes rotate-image {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.course-div {
    flex: 1;
    margin: 40px;
}

.course-div ul {
    margin: 0px;
}

.course-div ul li {
    list-style-type: none;
    margin-top: 0px;
}

.course-title {
    text-align: center;
    font-size: 30px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

@keyframes switch-course {
    0% {
        left: -100%;
      }
      40% {
        left: 0;
      }
      60% {
        left: 0;
      }
      100% {
        left: 100%;
      }
}

.course-title-cover {
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 10;
    position: absolute;
    bottom: 40px;
    left: -100%;
}

.course-list {
    position: relative;
    overflow: hidden;
}

.course-list-cover {
    width: 100%;
    height: 360px;
    background-color: white;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: -100%;
}

.course-list li {
    list-style-type: none;
    padding: 0px;
    font-size: 26px;
    margin: 10px;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*******************************************************
* Title: Xbox One Achievement in CSS (Regular and Rare)
* Author: Adam Cosman
* Availability: https://codepen.io/uenify/pen/KxzKVd
*******************************************************/

.achievement *{
    box-sizing: border-box;
}

.achievement {
pointer-events: none;
width: 100%;
top: 0px;
z-index: 100;
}

.achievement .animation {
    margin-bottom: 0;
    padding-bottom: 0;
}

@keyframes flip {
0% {
    transform: rotateY(0deg);
}
50% {
    transform: rotateY(360deg);
}   
100% {
    transform: rotateY(0deg);
}
}

@keyframes scale_circle_1 {
0% {
    transform: scale3d(0, 0, 0);
}
2% {
    opacity: 1;
}
5% {
    transform: scale3d(2, 2, 2);
    opacity: 0.8;
}
6% {
    opacity: 0;
}
9% {
    opacity: 0;
}
10% {
    transform: scale3d(2, 2, 2);
    opacity: 0;
}
90% {
    transform: scale3d(0, 0, 0);
}
92% {
    opacity: 1;
}
95% {
    transform: scale3d(2, 2, 2);
    opacity: 0.8;
}
96% {
    opacity: 0;
}
99% {
    opacity: 0;
}
100% {
    transform: scale3d(2, 2, 2);
    opacity: 0;
}
}

@keyframes circle_grow_move {
1% {
    opacity: 0;
    transform: scale(0.2);
}
4% {
    transform: scale(2.2);
}
5% {
    transform: scale(2);
    opacity: 1;
}
11% {
    transform: translate(0);
    background-color: #39960C;
}
24% {
    transform: translateX(-280px);
    background-color: #42ae0e;
}
85% {
    transform: translateX(-280px);
    background-color: #42ae0e;
}
89% {
    transform: translateX(0);
    background-color: #39960C;
}
94% {
    transform: scale(2);
}
96% {
    transform: scale(2.2);
}
98% {
    transform: scale(0.2);
    opacity: 1;
}
99% {
    opacity: 0;
}
100% {
    transform: scale(0.2);
}
}

@keyframes trophy_animate_opacity {
0% {
    opacity: 0;
}
20% {
    opacity: 0;
}
24% {
    opacity: 1;
}
90% {
    opacity: 1;
}
95% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}

@keyframes xbox_animate_opacity {
0% {
    opacity: 1;
}
19% {
    opacity: 1;
    transform: scale3d(1,1,1);
}
23% {
    opacity: 0;
}
90% {
    opacity: 0;
}
95% {
    opacity: 1;
}
100% {
    opacity: 1;
}
}

@keyframes banner-animate {
0% {
    width: 150px;
    opacity: 0;
}
2% {
    opacity: 0;
}
4% {
    opacity: 1;
}
11% {
    width: 150px;
}
24% {
    width: 710px;
}
85% {
    width: 710px;
}
89% {
    width: 150px;
    opacity: 1;
}
90% {
    opacity: 0;
}
}

@keyframes textSlide {
0% {
    transform: translateY(85px);
    opacity: 0;
}
20% {
    transform: translateY(85px);
    opacity: 0;
}
25% {
    transform: translateY(0);
    opacity: 1;
}
79% {
    transform: translateY(0);
    opacity: 1;
}
84% {
    transform: translateY(-115px);
    opacity: 0;
}
100% {
    opacity: 0;
}
}

.animation {
width: 710px;
height: 220px;
padding: 10px 0px 10px 0px;
position: relative;
margin: auto;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
}

.circle.circle_animate {
animation: circle_grow_move;
animation-duration: 10.5s;
transform-origin: center;
}

.circle.circle_animate::before {
animation: scale_circle_1;
animation-duration: 10.5s;
transform-origin: center;
animation-iteration-count: 2;
}

.circle.circle_animate::after {
animation: scale_circle_1;
animation-duration: 10.5s;
animation-delay: 0.1s;
transform-origin: center;
}

.circle.circle_animate .trophy_animate {
animation: trophy_animate_opacity;
animation-duration: 10.5s;
}

.circle.circle_animate .xbox_img {
animation: xbox_animate_opacity;
animation-duration: 10.5s;
z-index: 102;
}

.rare .trophy_img{
display: none;
}

.circle {
width: 150px;
height: 150px;
top: 0;
opacity: 0;
margin: 0 auto;
border-radius: 100%;
background: #39960C;
position: relative;
overflow: hidden;
z-index: 4;
}

.circle::before {
content: "";
opacity: 0;
width: 150px;
height: 150px;
background-color: #40a90e;
position: absolute;
top: 0;
left: 0;
border-radius: 50%;
display: block;
}

.circle::after {
content: "";
opacity: 0;
width: 150px;
height: 150px;
background-color: #32830a;
position: absolute;
top: 0;
left: 0;
border-radius: 50%;
display: block;
}

.rare .circle::after{
z-index: -1;
}

.rare  .circle::before{
z-index: -1;
}

.circle .img {
height: 50%;
left: 25%;
top: 25%;
position: absolute;
z-index: 100;
}

.circle .img img {
height: 100%;
position: absolute;
}

.circle .trophy_1 {
animation: flip;
animation-duration: 6s;
animation-iteration-count: infinite;
}

.achieve_disp_animate {
animation: textSlide;
animation-duration: 10.5s;
}

.banner {
width: 710px;
height: 150px;
position: relative;
left: 0;
opacity: 0;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
right: 0;
margin: 0 auto;
background: #39960C;
overflow: hidden;
border-radius: 200px;
}

.banner-outer {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-line-pack: center;
align-content: center;
width: 100%;
top: -150px;
position: relative;
}

.banner.banner-animate {
animation: banner-animate;
animation-duration: 10.5s;
}

.achieve_name::before,
.achieve_score::before {
display: none !important;
opacity: 0;
content: "";
}

.achieve_name::after,
.achieve_score::after {
display: none;
content: "";
}

.achieve_disp {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
width: 60%;
position: absolute;
-ms-flex-pack: center;
justify-content: center;
margin-left: 190px;
left: 0;
height: 100%;
top: 0;
}

.achieve_disp input {
opacity: 1 !important;
}

.achieve_disp .score_disp {
width: 100%;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-align: start;
align-items: flex-start;
margin-bottom: 0 !important;
}

.achieve_disp .achiev_name {
border: none;
outline: none;
background: none;
font-size: 26pt;
color: white;
line-height: 48px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.acheive_score {
margin-left: 10px;
margin-right: 10px;
color: white;
}

.unlocked {
width: 100%;
color: white;
font-weight: 400;
}

.gamerscore {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-align: center;
align-items: center;
height:48px;
}

.gamerscore input {
margin-left: 10px;
width: 30px;
margin-right: 10px;
background: none;
outline: none;
border: none;
color: white;
overflow: visible;
font-family: 'open sans', sans-serif;
font-weight: bold;
font-size: 26pt;
}

.hyphen_sep {
margin-right: 5px;
color: white;
font-size: 30pt;
line-height: 48px;
}

.rare .brilliant-wrap{
display: block;
}

.brilliant-wrap{
display: none;
height: 150px;
width: 150px;
border-radius: 50%;
overflow: hidden;
z-index: 101;
animation: brilliant-wrap 10s ease-in-out;
opacity: 0;
}

.brilliant {
height: 150px;
width: 150px;
background-image: url('https://dl.dropboxusercontent.com/s/ocn6nk0102mtiwq/spritesheet.png');
background-size: 22050px 150px;
background-position: right;
animation: brilliant 7.4s steps(147) 2s;
}

@keyframes brilliant {
0% {
    background-position: 0;
}
100% {
    background-position: -22050px;
}
}

@keyframes brilliant-wrap{
0%, 20%{
    opacity: 0;
}
20.00001%{
    opacity: 1;
}
90% {
    opacity: 1;
}
95%{
    opacity: 0;
}
}

/*******************************************************
* End of Xbox One Achievement in CSS (Regular and Rare)
*******************************************************/

/* SECTION 3: PROJECTS */
.projects-screen {
    display: block;
    width: 100%;
    justify-content: center;
    z-index: 1;
    background-color: #241C1C;
}

.projects-header {
    height: 10vh;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px;
}

.title-separator {
    background-color: #241C1C;
    height: 10vh;
    width: 100%;
    z-index: 1;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.github-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vw;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 20px;
    background-color: #241C1C;
    text-align: center;
}

@keyframes project-scale-up {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes project-scale-down {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes github-scale-up {
    0% {
        transform: scale(1);
        transform: translate(-50%, -50%);
    }
    100% {
        transform: scale(1.2);
        transform: translate(-50%, -50%);
    }
}

@keyframes github-scale-down {
    0% {
        transform: scale(1.2);
        transform: translate(-50%, -50%);
    }
    100% {
        transform: scale(1);
        transform: translate(-50%, -50%);
    }
}

.project-teaser h3 {
    font-size: 20px;
    margin: 0px;
}

.project-title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-icon {
    margin: 5px;
}

.project-icon-image {
    height: 40px;
}

.project-title h3 {
    font-size: 30px;
    margin: 0px;
}

.project-image-div {
    width: 100%;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .box {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .box {
        width: 100%;
    }
}

.fade-to-grey {
    transition: background-color 0.5s ease-in-out;
    background-color: #1F1C1C;
}

.fade-to-red {
    transition: background-color 0.5s ease-in-out;
    background-color: #2B0C0C;
}

.fade-to-orange {
    transition: background-color 0.5s ease-in-out;
    background-color: #3E2E1F;
}

.fade-to-white {
    transition: background-color 0.5s ease-in-out;
    background-color: #423737;

}

.fade-to-brown {
    transition: background-color 1s ease-in-out;
    background-color: #241C1C;
}