@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* PHASE 1: LOGO AND PAGE SWAP */
body {
    display: flex;
    justify-content: center;
    height: 200vh;
    margin: 0;
    background-color: #F0ECE9;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  
  .logo-1 {
    width: 170px;
    display: block;
    cursor: pointer;
  }
  
  .logo-2 {
    width: 170px;
    display: none;
    cursor: pointer;
  }
  
  @keyframes logo-slide-left {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-50%);
      }
  }
  
  @keyframes logo-slide-right {
      0% {
          transform: translateX(-50%);
      }
      100% {
          transform: translateX(0);
      }
  }
  
  .above-text {
    width: 100%;
    height: 80px;
  }
  
  #above-secrest {
    position: relative;
    left: -80px;
    top: 185px;
    z-index: 2;
    background-color: #F0ECE9; 
  }
  
  #above-carson {
    position: relative;
    left: -140px;
    top: 80px;
    z-index: 4;
    background-color: #F0ECE9; 
  }
  
  #above-science {
    position: relative;
    left: -120px;
    top: 188px;
    z-index: 2;
    display: none;
    background-color: #4e3a3a; 
  }
  
  #above-computer {
    position: relative;
    left: -180px;
    top: 90px;
    z-index: 4;
    display: none;
    background-color: #4e3a3a; 
  }
  
  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
  }
  
  .text {
    position: relative;
    margin: 0;
    font-size: 60px;
  }
  
  #secrest {
    left: -80px;
    top: 90px;
    z-index: 1;
  }
  
  #science {
    left: -120px;
    top: 90px;
    z-index: 1;
  }
  
  #carson {
    left: -140px;
    top: -12px;
    z-index: 3;
  }
  
  #computer {
    left: -180px;
    top: -12px;
    z-index: 3;
  }
  
  .dark-text {
    color: #4e3a3a;
  }
  
  .light-text {
    color: #F0ECE9;
    display: none;
  }
  
  @keyframes text-slide-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50px);
    }
  }
  
  @keyframes text-slide-down {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #beige-div {
    position: absolute;
    height: 200vh;
    width: 100vw;
    z-index: 999;
    background-color: #d9bda3;
    transform: translateX(-100vw);
  }
  
  #brown-div {
    position: absolute;
    height: 200vh;
    width: 100vw;
    z-index: 998;
    background-color: #846c5f;
    transform: translateX(-100vw);
  }
  
  @keyframes div-slide-right {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
  
  @keyframes div-slide-left {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-100vw);
    }
  }

/* PHASE 2: PERSONAL DESCRIPTION */
